<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308275302721-e883ai45q41kpvvb56mf6ai84999c40l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308275302721-e883ai45q41kpvvb56mf6ai84999c40l</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_YZMTOf0ck-QYASE8cM6IKrGgev0Xhw</string>
	<key>GCM_SENDER_ID</key>
	<string>308275302721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizApp.inhouse</string>
	<key>PROJECT_ID</key>
	<string>quizapp-46580</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-46580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308275302721:ios:f1ba886e8bf937f147d1c0</string>
</dict>
</plist>